<div [formGroup]="form">
    <ng-container [ngSwitch]="field.type">
      <h4 class="lableName" *ngSwitchCase="'text'">{{ field.label }}</h4>
      <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="field">
        <input matInput [formControlName]="field.name" [placeholder]="field.placeholder" />
      </mat-form-field>

      <h4 class="lableName" *ngSwitchCase="'textarea'">{{ field.label }}</h4>
      <mat-form-field *ngSwitchCase="'textarea'" appearance="outline" class="field">
        <textarea matInput [formControlName]="field.name" [placeholder]="field.placeholder"></textarea>
      </mat-form-field>
      <h4 class="lableName" *ngSwitchCase="'dropdown'">{{ field.label }}</h4>
      <mat-form-field *ngSwitchCase="'dropdown'" appearance="outline" class="field">
        <mat-select [formControlName]="field.name" [placeholder]="field.placeholder">
          <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>    

      <h4 class="lableName" *ngSwitchCase="'checkbox'">{{ field.label }}</h4>
    <div *ngSwitchCase="'checkbox'" class="checkbox-group" style="display: flex;">
      <div *ngFor="let option of field.options">
        <mat-checkbox [formControlName]="field.name + '_' + option" color="primary">{{ option }}</mat-checkbox>
      </div>
    </div>
      <div *ngSwitchCase="'radio'" class="radio-group">
        <label>{{ field.label }}</label>
        <mat-radio-group [formControlName]="field.name">
          <mat-radio-button *ngFor="let option of field.options" [value]="option">{{ option }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-container>
  </div>
  